{% extends 'orders/base.html' %}

{% load bootstrap3 %}

{% block content %}

	<h2>Available cheeses</h2>
	{% if item_list %}
    <table class="table table-striped">
        <thead>
        	<tr>
            	<th>Name</th>
            	<th>Cost</th>
            	<th>Unit</th>
            	<th>How many do you need?</th>
         	</tr>

	      	{% for item in item_list %}
	      	<tr>
	        	<td>{{ item.name }}</td>
	        	<td>{{ item.cost }}</td>
	        	<td>{{ item.units }}</td>
	        	<td>    
     <form role="form" class="form-inline" method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='inline' %}

    </form>
				</td>
	      	</tr>
	    	{% endfor %}
        </thead>
        
     </table>
             {% buttons submit='Submit Order' reset='Cancel Order' layout='inline' %}{% endbuttons %}
	{% else %}
	    <p>No cheeses are available.</p>
	{% endif %}



{% endblock %}