{% extends 'orders/base.html' %}

{% block content %}

	<h2>Available cheeses</h2>
	{% if item_list %}
    <table>
        <thead>
        	<tr>
            	<th>Name</th>
            	<th>Cost</th>
            	<th>Unit</th>
            	<th>How many do you need?</th>
         	</tr>

	      	{% for item in item_list %}
	      	<tr>
	        	<td>{{ item.name }}</td>
	        	<td>{{ item.cost }}</td>
	        	<td>{{ item.units }}</td>
	        	<td>{{ ItemForm }}</td>
	      	</tr>
	    	{% endfor %}
        </thead>
     </table>
	{% else %}
	    <p>No cheeses are available.</p>
	{% endif %}

<form action="/orders/" method="post">
    <label for="your_name">Your name: </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input type="submit" value="OK">
</form>


{% endblock %}
